<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="static/Assets/favicon-32x32.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Spread the Read </title>
    <link rel="stylesheet" href="static\sign.css">
    <!-- Animation library --> 
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class = "sign_up_sheet" data-aos="zoom-out">
        <h1> Sign Up </h1>
        <form method = "POST" action = "/sign_up">
            <label>Username</label>
            <input type = "text" placeholder="Username" name = "username" id = "username" autocomplete="off" required>
            <label>Password</label>
            <input type = "password" placeholder="Password" name = "password" id = "password" autocomplete="off" required>
            <label>Confirm Password</label>
            <input type = "password" placeholder="Confirm Password" name = "confirm_password" id = "confirm_password" autocomplete="off" required>
            <label>Email</label>
            <input type = "email" placeholder="Email" name = "email" id = "email" autocomplete="off" required>
            <input type = "submit" value = "Sign Up ">
        </form>
        <a href = "/" class = "cancel_sign">Cancel</a>
    </div>
    <p class = "error" data-aos = "zoom-out-up"><b>{{ message }}</b></p>
    <p class = "has_account" data-aos="zoom-out-up">Already have an account? <a href = "login">Login here</a></p>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 750,
        });
    </script>
</body>
</html>
